<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticia</title>
    <link rel="stylesheet" href="{%static 'css/deporte.css'%}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
    <header>
        <h1 style="font-size: 100px;" >Deporte</h1>
        <h2>Capitán del Marsella desnuda la personalidad de Alexis Sánchez: “A veces se queja un poco; no le gusta que
            lo critiquen”</h2>
    </header>
    <article>
        <figure>
            <iframe width="854" height="480" src="{%static 'img/deporte.jpg'%}" frameborder="0" allowfullscreen class="center"></iframe>
            <a class="nav-link active" href="/..">Volver</a>
            <figcaption>
            </figcaption>
        </figure>

        <h2>
            Valentin Rongier dio detalles del comportamiento del chileno en el camarín del equipo focense. El atacante
            sigue sumando elogios tras su presentación durante este fin de semana en la Ligue 1.
        </h2>
        <address>
            Noticia Subida por Matías Parker 02 MAYO 2023.
        </address>
        <section>
            <div>
                <p>Alexis Sánchez solo suma elogios en el Marsella. El delantero tocopillano fue clave en la victoria de
                    su elenco como local frente al Auxerre, por la 33ª fecha de la liga francesa.
                    Si bien el encuentro comenzó complicado con la anotación del malí Birama Toure (33′) para los
                    visitantes, los goles de Cengiz Ünder (75′) y Alexis Sánchez (77′) le permitieron al OM volver a
                    entrar en la pelea por el título. Hoy, el equipo más popular del fútbol galo está a cinco unidades
                    del líder, PSG.
                    Alexis Sánchez, el delantero que termina contrato con junio con Marsella, no deja de ganarse los
                    elogios de la prensa local. También de sus compañeros en el plantel, que no dudan en desclasificar
                    su aporte a un equipo que se ilusiona con la Ligue 1.
                    En esta oportunidad, Valentin Rongier, el capitán del Marsella, lo llenó de elogios. “Él es un
                    líder, un líder técnico, es un tipo que nunca quiere perder y nosotros estamos muy contentos de
                    tenerlo con nosotros”, comoentó en entrevista con Telefoot.
                    El volante también comentó cómo es la interna junto al tocopillano. “A veces se queja un poco,
                    porque no le gusta que lo encimen o que lo critiquen. Pero es un gran profesional”, complementó.
                    A primera hora, en Francia se destacaba la euforia vivida al dar vuelta el partido en dos minutos.
                    El relato de Florent Germain, de RMC Radio Monte Carlo, impactó en todo el mundo. Tras la anotación
                    del chileno lanzó en español “Niño Maravilla. Alexis Sánchez, quédate aquí, no te vayas” para luego
                    continuar describiendo la jugada en francés.
                    Alexis, tras la victoria frente al Auxerre, no escondió su alegría. “Estamos a cinco puntos del PSG,
                    es una motivación, y a nivel personal también me gusta estar cerca del líder. Y tienes que creer en
                    eso, tienes que creer en el título, yo creo en eso. Hay que tener esperanza y mantenerse unidos como
                    equipo”, declaró el Niño Maravilla.
                    “Perdimos muchos puntos en los partidos anteriores. Estamos creciendo, tenemos que seguir
                    haciéndolo, seguir mejorando para ser un equipo aún más competitivo a nivel nacional e
                    internacional. Hoy era muy importante ganar antes de jugar contra un competidor directo (el Lens).
                    Es una batalla. Teníamos que estar concentrados los 90 minutos. Lo importante es haber ganado, hacer
                    feliz a la gente”, añadió el goleador histórico de la Roja.
                    Alexis Sánchez goza de un gran momento en tierras galas. Con este último tanto el ex Cobreloa y Colo
                    Colo ha conseguido estar presente en 39 partidos, incluyendo todas las competencias, sumando 17
                    goles y dos asistencias. Esto explica que tanto los hinchas como los relatores ligados al club
                    quieran que este permanezca en la plantilla para encarar la próxima temporada. La decisión está en
                    sus manos.
            </div>
            <a class="btn btn-primary" href="/.." role="button">volver</a>
        </section>
    </article>
</body>

</html>