<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <footer>
        <div class="PiePag">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="colores1">
                        Contactenos
                    </h3>
                    <dl class="colores1">
                        <h4 style="font-size: 18px;">+56 9 7474 3137</h4>
                        <h4 style="font-size: 18px;">+56 9 4578 4757</h4>
                        
                    </dl>
                </div>
                <div class="colores1">
                        <h3>Dirección</h3>
                    <dl class="colores1">
                        <h4 style="font-size: 18px;">Av. Américo Vespucio 1501, 9220213 Santiago, Cerrillos, Región Metropolitana</h4>
                        
                    </dl>
                </div>
            </div>
        </div>
        
    </footer>
    {% endblock %}
</body>
</html>
