<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/tendencia.css'%}">
</head>

<body>
    <header>
        <h1 style="font-size: 100px;">Tendencia</h1>
        <h2>Donatella Versace: la historia de la heredera adicta a la cocaína y las cirugías</h2>
    </header>
    <article>
        <figure>
            <iframe width="854" height="480" src="{% static 'img/tendencia.jpg' %}" frameborder="0"
                allowfullscreen></iframe>
                <a class="nav-link active" href="/..">Volver</a>
            <figcaption>
            </figcaption>
        </figure>

        <h2>
            La cómplice eterna de Gianni Versace, desde pequeña siguió a su hermano en sus grandes proyectos. Pero, tras
            su muerte, Donatella dejó de lado la firma para dedicarse a las drogas y a las cirugías plásticas.
        </h2>
        <address>
            Noticia Subida por Nicole Iporre 02 MAYO 2023.
        </address>
        <section>
            <div>
                <p>Tiene los ojos verdes siempre delineados de negro el pelo rubio, la piel bronceada y las arrugas
                    luchando por relucir entre el bótox. Sus labios lucen muy inflamados y suele ser el ejemplo de
                    muchos cuando dicen que un exceso de cirugías plásticas para verse mejor, en realidad podría salir
                    mal. Pero detrás de la voz cargada de tabaco y otros excesos, está Donatella Versace, la única
                    heredera
                    del legado de Gianni Versace, su hermano, que fundó la distintiva marca de moda que, hasta hoy,
                    perdura, pero que detrás tiene una complicada historia que envuelven las drogas, fiesta, complicidad
                    y amor de hermanos.
                    Gianni y Donatella Versace
                    Crecieron en Reggio Calabria, al sur de Italia, cerca de unas ruinas helénicas. Desde pequeños
                    estaban rodeados de la cultura, mitos y costumbres griegas. Gianni tenía casi 10 años cuando su
                    hermana, Donatella, nació el 2 de mayo de 1955, y pronto se convirtió en su compañera de aventuras.
                    Iban juntos para todo lado, y aun cuando Gianni ya tenía 20 y Donatella solo 10, comenzó a salir con
                    él a las fiestas. Incluso, el joven la convenció de que se tiñera el pelo de rubio para parecerse a
                    su ídola, la cantante italiana Patty Pravo y, la niña, obediente se cambió de look a ese color que,
                    hasta ahora, no ha cambiado.
                    Su madre era modista en una marca de indumentaria y después abrió su propia boutique. Y sus hijos
                    decidieron seguir sus pasos, aunque Donatella tuvo una pequeña pausa para estudiar literatura en
                    Florencia. Pero aún ahí, se escapaba para visitar a su querido hermano en Milán y ayudarlo con sus
                    creaciones para Callaghan, donde Gianni dio sus primeros pasos en la moda como carrera profesional.
                    Sin embargo, su madre no quería que su hija tuviera una carrera que no fuera “respetable”. Ya se
                    había resignado con Gianni, y pronto tuvo que hacerlo también con Donatella, porque no le interesaba
                    otra cosa que no fuese la moda.
                    Pronto, ambos hermanos fundaron Versace y Donatella fue la vicepresidenta. Incluso, en 1982, fue
                    ella quien levantó la mano en la subasta para adueñarse del Palazzo de Via Gesu 12, que se
                    convertiría en la casa emblema de la marca.

            </div>
        </section>
    </article>
</body>

</html>