<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/nacional.css'%}">
</head>

<body>
    <header>
        <h1 style="font-size: 100px;">Nacional</h1>
        <h2>Hallan 76 kilos de droga en camioneta tras persecución policial en La Ligua</h2>
    </header>
    <article>
        <figure>
            <iframe width="854" height="480" src="{% static 'imagen/nacional.jpg' %}" frameborder="0" allowfullscreen></iframe>
            <figcaption>
            </figcaption>
        </figure>

        <h2>
            Conductor del vehículo intentó burlar fiscalización de Carabineros en la Ruta 5 Norte.
        </h2>
        <address>
            Noticia Subida por Cristóbal Palacios 02 MAYO 2023.
        </address>
        <section>
            <div>
                <p>Personal de la Tenencia Carreteras Petorca de Carabineros logró sacar de circulación esta jornada un
                    total de 76 kilos de marihuana, las que fueron detectadas al interior de una camioneta que intentó
                    burlar una fiscalización policial en la Ruta 5 Norte, en la comuna de La Ligua.
                    Tras una revisión de la camioneta, el personal policial encontró al interior de los asientos
                    traseros un total de 43 paquetes que contenían marihuana elaborada para su comercialización.
                    Asimismo, en un compartimento oculto del pick up del vehículo, se encontraron 30 paquetes más de la
                    droga.
                    El teniente Patricio Lienlaf, de la Tenencia Carreteras Petorca, señaló que “esta camioneta evade el
                    control policial, siendo fiscalizada unos kilómetros hacia el sur, donde se pudo percatar el
                    personal policial, tras realizar una revisión exhaustiva del móvil, de la cantidad de 73 paquetes
                    contenedores de marihuana elaborada”.
                    La droga incautada arrojó un peso de más de 76 kilos.
                    El detenido, imputado por tráfico de drogas y receptación, pasará este miércoles a control de
                    detención en el Juzgado de Garantía de La Ligua, mientras que la totalidad de la droga fue derivada
                    al Servicio de Salud de Viña del Mar para su destrucción.

            </div>
        </section>
    </article>
</body>

</html>