<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/policial.css'%}">
</head>

<body>
    <header>
        <h1 style="font-size: 100px;">Policial</h1>
        <h2>Atropellan a cabo segundo de Carabineros tras un control vehicular en Punitaqui</h2>
    </header>
    <article>
        <figure>
            <iframe width="854" height="480" src="{% static 'imagen/policial.png'%}" frameborder="0" allowfullscreen></iframe>
            <figcaption>
            </figcaption>
        </figure>

        <h2>
            El funcionario policial fue trasladado con múltiples contusiones hasta el Hospital de Ovalle. Hasta entonces
            no se reportan personas detenidas en torno a este hecho.
        </h2>
        <address>
            Noticia Subida por Roberto Martínez Domingo 23 de abril 2023.
        </address>
        <section>
            <div>
                <p>Un nuevo episodio de violencia en contra de un funcionario de Carabineros se registró durante la
                    tarde de este domingo, en la comuna de Punitaqui, en la Región de Coquimbo.
                    Según fuentes policiales, el hecho ocurrió cuando un cabo segundo de la dotación de la tenencia de
                    la referida comuna se encontraba realizando controles vehiculares preventivos, momento en que por
                    razones que son motivo de investigación- fue atropellado por el conductor de un automóvil.
                    Tras lo ocurrido, el policía uniformado fue rápidamente trasladado hasta el servicio de urgencia del
                    Cesfam de Punitaqui, llegando al recinto asistencial con múltiples contusiones, y tras una revisión
                    preliminar de su condición de salud, se determinó que fuese derivado hasta el Hospital de Ovalle,
                    donde permanece con lesiones en su rodilla izquierda, corte en la mano izquierda y dolor lumbar,
                    fuera de riesgo vital.
                    Hasta entonces no se reportan personas detenidas en torno a este hecho.
            </div>
        </section>
    </article>
</body>

</html>